.banner {
  background: url('./../image/hero.png');
  height: 350px;
  h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    padding-top: 95px
  }
  .line1 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  .line2 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: -12px;
  }
}
